<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/logo.png"/>
        <span id="welcomeHeader">름름 런처</span>
        <span id="welcomeDescription">서버 플레이 하시기 전에 꼭 규칙 한 번씩 읽어주시길 바랍니다.
            <br>다른 유저 분들을 위해 매너 있는 플레이 부탁드리면서 모두 서버 재밌게 즐겨주세요🙂
        </span>
        <br>
        <span id="welcomeDescCTA">계속하기 버튼을 눌러 계속 진행하여 주세요.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                계속
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>